body {
    background-color: #dd8;
}

.InputBox {
    outline: solid 2px black;
}
.OutputBox {
    background-color: #8d7;
    color: black;
}

.letter, .syllable_cat {
    margin-right: 10px;
}

p {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes a_blinking {
    0%   {background-color:white;}
    50%  {background-color:red;}
    100% {background-color:white;}
}

/* Standard syntax */
@keyframes a_blinking {
    0%   {background-color:white;}
    50%  {background-color:red;}
    100% {background-color:white;}
}

.blinking {
    background-color: white;
    -webkit-animation-name: a_blinking; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    animation-name: a_blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}